.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 3px solid rgba(128, 128, 128, 0.13);
  width: 300px;
  margin: auto;
  padding: 1.5rem;

}

.formSignIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 200px;
  margin: auto;
  width: 100%;
}

.row {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;


}

.activeColor {
  padding: 0.5em;
  height: 30px;
  width: 60%;
  border: 2px solid rgb(229, 193, 16);
  cursor: pointer;

}

.pointer {
  cursor: pointer;
}

.avatar {
  width: 200px;
  height: 200px;
}

.inputText {
  font-size: larger;
  font-weight: 200;
  padding: 0.5em;
}

.btn {
  color: white;
  background-color: blue;
  font-size: 1.5em;
  font-weight: 100;
  border: none;
  padding: 0.5em;
}

.btn:hover {
  cursor: pointer;
}